{% extends 'base.html' %}

<h1>{% block title %}Customers{% endblock %}</h1>

{% block content %}
  {% for cust in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ cust['name'] }}</h1>
          <div class="about">Customer number {{ cust['cust_no'] }}</div>
        </div>
      </header>
      <p class="body">{{ cust['email'] }}</p>
      <form action="{{ url_for('customer_delete', cust_no=cust['cust_no']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
