{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

<a href="{{ url_for('customer_create') }}">Add new customer</a>

{% block content %}
  {% for cust in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ cust['cust_no'] }}</h1>
          <div class="about">in {{ cust['name'] }}</div>
        </div>
      </header>
      <p class="body">€ {{ cust['email'] }}</p>
      <form action="{{ url_for('customer_delete', cust_no=cust['cust_no']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
