{% extends 'base.html' %}

<h1>{% block title %}Customers{% endblock %}</h1>

{% block content %}
  {% for cust in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ cust['name'] }}</h1>
          <div class="about">Customer number {{ cust['cust_no'] }}</div>
        </div>
      </header>
      <p class="body">{{ cust['email'] }}</p>
      <a class="action" href="{{ url_for('customer_info', cust_no=cust['cust_no']) }}">Edit</a>
      <a class="action" href="{{ url_for('order_create', cust_no=cust['cust_no']) }}">Add Order</a>
      <a class="action" href="{{ url_for('list_unpaid_orders', cust_no=cust['cust_no']) }}">Pay Order</a>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  {{ pagination.info }}
  {{ pagination.links }}
{% endblock %}
