{% extends 'base.html' %}

<h1>{% block title %}{{ cust['name'] }}{% endblock %}</h1>

{% block list %}<li><a href="{{ url_for('customer_index') }}">Back</a>{% endblock %}
  
{% block content %}
<header>
  <p></p>
	<div>
	  <div class="about"><strong>Customer number {{ cust['cust_no'] }}</strong></div>
	</div>
</header>
  <p class="body">Email: {{ cust['email'] }}</p>
  <p class="body">Phone: {{ cust['phone'] }}</p>
  <p class="body">Address: {{ cust['address'] }}</p>
  <hr>
  <form action="{{ url_for('customer_delete', cust_no=cust['cust_no']) }}" method="post">
	  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
