{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order Creation for {{ cust_no }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action = "{{ url_for('order_create', cust_no=cust_no) }}" method="post">
    <label for="date">Date</label>
    <input name="date" id="date" type="date" required>

    <h2>Add Products</h2>
    <div id="sku"></div>
  
    <button type="button" onclick="addProduct()">Add Product</button>
    

    <hr>
    <hr>
    <input type="submit" value="Create">
</form>

<script>
  var numberOfProducts = 0;

  function addProduct() {
      var sku = document.getElementById("sku");
      numberOfProducts++;
      
      let newDiv = document.createElement("div");

      newDiv.innerHTML = `
        <label for="sku-${numberOfProducts}">SKU</label>
        <input name="sku-${numberOfProducts}" id="sku-${numberOfProducts}" type="text" required>
        <label for="quantity-${numberOfProducts}">Quantity</label>
        <input name="quantity-${numberOfProducts}" id="quantity-${numberOfProducts}" type="number" required>
      `;

      sku.appendChild(newDiv);
  }
</script>

{% endblock %}
