{% extends 'base.html' %}

<h1>{% block title %}Orders{% endblock %}</h1>

{% block list %}
<li><a href="{{ url_for('main_page') }}">Back</a>
{% endblock %}

{% block content %}
  {% for ord in orders %}
    <article class="post">
      <header>
        <div>
          <h1>Order {{ ord['order_no'] }}</h1>
        </div>
      </header>

      <ul>
        {% for product in ord['products'] %}
          <li>{{ product['name'] }} (Quantity: {{ product['qty'] }})</li>
        {% endfor %}
      </ul>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  
  {{ pagination.info }}
  {{ pagination.links }}
{% endblock %}