{% extends 'base.html' %}

<h1>{% block title %}Orders{% endblock %}</h1>

{% block content %}
  {% for ord in orders %}
    <article class="post">
      <header>
        <div>
          <h1>Order {{ ord['order_no'] }}</h1>
          <div class="about">Order number {{ ord['order_no'] }}</div>
        </div>
      </header>

      <ul>
        {% for product in orders if product['order_no'] == ord['order_no'] %}
          <li>{{ product['product_name'] }} - Quantity: {{ product['qty'] }}</li>
        {% endfor %}
      </ul>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}