{% extends 'base.html' %}

<h1>{% block title %}Orders to Pay{% endblock %}</h1>

{% block list %}
<li><a href="{{ url_for('customer_index') }}">Back</a>
{% endblock %}

{% block content %}
  {% for ord in orders %}
    <article class="post">
      <header>
        <div>
          <h1>Order {{ ord['order_no'] }}</h1>
          <div class="about">Order number {{ ord['order_no'] }}</div>
        </div>
      </header>
      <div class="pay_buttons">
        <form action="{{ url_for('pay_order', order_no=ord['order_no'], cust_no = cust_no) }}" method="post">
          <input class="primary" type="submit" value="Pay">
        </form>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  
  {{ pagination.info }}
  {{ pagination.links }}
{% endblock %}