{% extends 'base.html' %}

<h1>{% block title %}{{ prod['name'] }}{% endblock %}</h1>

{% block list %}
<li><a href="{{ url_for('product_index') }}">Back</a>
{% endblock %}

{% block content %}
<header>
	<div>
    <p></p>
	  <div class="about"><strong>Product {{ prod['sku'] }}</strong></div>
	</div>
</header>
  <form action="{{ url_for('product_update', sku=prod['sku']) }}" method="post">
    <label for="description">Description</label>
    <input name="description" id="description" type="text" required minlength="1" maxlength="253" value="{{ prod['description'] }}"">
	  <label for="price">Price</label>
    <input name="price" id="price" type="number" min="1" step="any" value="{{ prod['price'] }}"">

    <div class="update_delete_buttons">
      <form action="{{ url_for('product_update', sku=prod['sku'])}}" method="post">
        <input type="submit" value="Update">
      </form>

      <form action="{{ url_for('product_delete', sku=prod['sku']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>
    </div>
  </form>
{% endblock %}