{% extends 'base.html' %}

<h1>{% block title %}Suppliers{% endblock %}</h1>

{% block content %}
  {% for sup in supplier %}
    <article class="post">
      <header>
        <div>
          <h1>{{ sup['name'] }}</h1>
          <div class="about">TIN {{ sup['tin'] }}</div>
        </div>
      </header>
      <p class="body">{{ sup['address'] }}</p>

      <div class="update_delete_buttons">
        <form action="{{ url_for('supplier_delete', tin=sup['tin']) }}" method="post">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </div>
      
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  {{ pagination.info }}
  {{ pagination.links }}
  
{% endblock %}



